@media screen and (max-width: 960px) {
    .str-chat-channel.messaging, .str-chat-channel.commerce {
        width: 100%;
    }
    .str-chat-channel-list.messaging, .str-chat-channel-list.team, .str-chat-channel-list.commerce {
        top: unset;
    }
    .str-chat-channel .str-chat__container {
        width: unset;
    }
}

.str-chat.messaging {
    background-color: #08415C !important;
    padding: 20px 10px 10px 10px;
}

.str-chat__container {
    width: 55vw;
}

.str-chat-channel-list {
    width: 20vw;
}

.str-chat__channel-preview-messenger {
    background-color: #D7FDEC;
    color: #08415C;
    border-radius: 10px;
}

.str-chat__channel-preview-messenger:hover {
    cursor: pointer;
    background-color: #08415C;
    color: #F56476;
}